streamlit==1.31.0

# force headless OpenCV
opencv-python-headless==4.11.0.86

# ultralytics that works in the logs
ultralytics==8.1.0

onnxruntime==1.15.1
onnx>=1.14.0

torch==2.5.1
torchvision==0.16.0

# other deps
Pillow>=10.0.0
numpy
pandas
pyyaml
requests
openai==2.8.0
python-dotenv
